<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> python!!! </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- The statement below states that 
              we are looking for url in static folder with the desired info-->
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon"  href="{{ url_for('static',filename='favicon.ico.png') }}">
	

    </head>
  <!-- This code is for the first navigation bar-->
<header>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
    <img style="max-width:120px; margin-top:4px; " src="{{url_for('static',filename='images/mainlogo-old.png')}}">
    </a>
  </div>


  <div class="container-fluid">
    <ul class="nav nav-pills" role="tablist">
      <a href="/dashboard/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: -70px;margin-bottom: 5px; height: 40px;margin-left: 135px;">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Start Learning    </button></a>
      
      
      
    <ul class="nav navbar-nav navbar-right">

        <div style="margin-right: 5px; margin-left: 950px; margin-top: -65px; margin-bottom: 5px;"  class="container-fluid">
            <h5>
      
            <a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support   </a>&nbsp;&nbsp;
        
            <a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login   </a>&nbsp;
      
      
          <a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a><h5>
          </div>
            </ul>
        
      
  </div>
</header>






<body>
    <div class="border-row" style="width:100%;  margin-bottom:15px;">
    </div>" 
    <div class="container-fluid" align="center" style="min-height: 100px">
        {% block body %}{% endblock %}
    </div> 
           <a href="/dashboard/">
          <video autoplay="autoplay" muted="muted" poster="/static/videos/python-programming-tutorials-main.png" style="width:100%; max-height:80%" >
          <source src="/static/videos/python-programming-tutorials-main.mp4" type="video/mp4" type="video/mp4">
          <source src="/static/videos/python-programming-tutorials-main.webm" type="video/webm">
          </video>
          </a>
    
    
    
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
        </script>
    </body>